@import "./typography.css";

:root {
  /* custom colors */
  --off-white: #E2DDE8;
  --dash-purple: #B48EE8;
  --dark-purple: #7A609E;
  --yellow: #D4AF37;
  --navy-text: #1C304A;
  --olive-pale: #D2DBC9;
  --dark-blue: #1C304A;
  --milla-blue: #008BBA;

  /* theme */
  --theme-h-font-family: "Cooper Black";
  --theme-h-font-color: white;
  --theme-p-font-family: "Graphik";
  --theme-p-font-color: white;
  --theme-background-color: var(--dark-blue);
  --theme-nav-link-color: var(--off-white);
  --theme-nav-link-active-color: white;

  /* font sizes */
  --nav-link-font-size: 1rem;
  --h1-font-size: 3rem;
  --h2-font-size: 1.7rem;
  --h3-font-size: 1rem;
  --p-font-size: 0.8rem;
  --portfolio-h1-font-size: 2rem;
  --portfolio-h2-font-size: 1.2rem;
  --portfolio-p-font-size: 0.8rem;
  --back-button-size: 3rem;
}

@media screen and (max-width: 700px) {
  :root {
    --nav-link-font-size: 14px;
    --h1-font-size: 44px;
    --h2-font-size: 24px;
    --h3-font-size: 16px;
    --p-font-size: 12px;
    --portfolio-h1-font-size: 24px;
    --portfolio-h2-font-size: 18px;
    --portfolio-p-font-size: 14px;
    --back-button-size: 30px;
  }
}

html, body {
  margin: 0;
  font-family: Graphik;
  font-size: calc(0.75em + 0.8vw);
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

h1, h2, h3 {
  font-style: normal;
  font-weight: normal;
  margin: 0px;
}

a {
  text-decoration: none;
}

.purple-underline {
  text-decoration: none;
  position: relative;
}

.purple-underline::after {
  content: '';

  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -5px;

  height: 5px;
  width: 95%;
  border-radius: 3px;
  background: var(--dash-purple);
}
