@import "./typography.css";

:root {
  --off-white: #E2DDE8;
  --dash-purple: #B48EE8;
  --yellow: #D4AF37;
  --navy-text: #1C304A;
  --olive-pale: #D2DBC9;
}

html, body {
  margin: 0;
  font-family: Graphik;
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

h1, h2, h3 {
  font-style: normal;
  font-weight: normal;
  margin: 0px;
}
h1, h2 {
  font-family: "Cooper Black";
}
h1 {
  font-size: 7vw;
  color: white;
}
h2 {
  font-size: 3vw;
  color: var(--off-white);
}
h3 {
  font-size: 2vw;
  font-family: Graphik;
  color: var(--off-white);
}

p {
  font-family: Graphik;
  color: var(--off-white);
  font-size: 1.5vw;
}

a {
  text-decoration: none;
}

.purple-underline {
  text-decoration: none;
  position: relative;
}

.purple-underline::after {
  content: '';

  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -5px;

  height: 5px;
  width: 95%;
  border-radius: 3px;
  background: var(--dash-purple);
}

.grey-circle {
  display: block;
  background-color: var(--off-white);
  border-radius: 100%;
  width: 5vw;
  height: 5vw;
  justify-items: flex-start;
  align-items: center;
}
