.contact-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  height: 65vh;
}

.email-link {
  color: var(--dark-purple);
  text-decoration: underline;
}

.email-link:hover {
  color: var(--dash-purple);
}
