.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}


.portfolio-circle {
  position: absolute;
  right: 10%;
  top: 15%;
  background-color: var(--yellow);
  width: min(20vw, 250px);
  height: min(20vw, 250px);
  line-height: min(20vw, 250px);
  border-radius: 100%;
  text-align: center;
  font-family: Cooper Black;
  color: var(--navy-text);
  font-size: min(3.5vw, 40px);

  animation-name: fly-in-and-spin;
  animation-duration: 2s;
}


@keyframes fly-in-and-spin {
  0% {
    transform: translateX(200%) translateY(-100%) rotate(720deg);
  }
}
