
.nav-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  padding-left: 3vw;
  padding-right: 3vw;
  color: var(--theme-nav-link-color);
  text-decoration: none;
  font-family: var(--theme-p-font-family);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--nav-link-font-size);
}

.nav-link-active {
  composes: nav-link;
  color: var(--theme-nav-link-active-color);
}

.nav-link-active::after {
  margin-top: 10px;
  display: block;
  content: "";
  width: inherit;
  height: 5px;
  background-color: var(--dash-purple);
  border-radius: 3px;
}

