
.project-button {
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.project-buttons-container {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project-button-olive {
  position: relative;
  background-color: var(--olive-pale);
}

.project-button-olive h1 {
  position: absolute;
  top: 3%;
}

.project-button-olive .olive-iphone-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-button-olive .olive-tree-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.project-button-milla {
  background-color: var(--milla-blue);
}

.project-button-milla h1, .project-button-milla h2 {
  color: white;
}

.project-button-comingsoon {
  background-color: #B48EE8;
}

.project-button-comingsoon h1, .project-button-comingsoon h2 {
  color: white;
}

.project-button-sage {
  background-color: #9F9296;
}

.project-button-sage h1, .project-button-sage h2 {
  color: white;
}

@media (orientation:landscape) {
  .project-button {
    width: 40vh;
    height: 40vh;
  }
  .project-button h1 {
    font-size: 6vh;
  }
  .project-buttons-container {
    flex-direction: row;
    gap: 20px;
  }
}

@media (orientation:portrait) {
  .project-button {
    width: 40vw;
    height: 40vw;
    max-height: 40vw;
  }
  .project-button h1 {
    font-size: 6vw;
  }
  .project-buttons-container {
    flex-direction: column;
    gap: 20px
  }
}

