.header-container {
  height: 100%;
  padding-bottom: 50px;
  background-color: var(--olive-pale);
}

.header-container > h1,
.header-container > h2,
.header-container > p {
  text-align: center;
  color: white;
}

.header-container > h1 {
  padding-top: 100px;
}

.header-container > h2 {
  padding-top: 100px;
}

.header-container > p {
  font-family: Graphik;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 3vw;
}

.content-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}

.content-container > p {
  font-family: Graphik;
  color: black;
  font-size: 1.5vw;
}

.content-container > h1 {
  color: black;
  font-size: 3vw;
}

.content-container > h2 {
  font-family: "Cooper Black";
  color: black;
  font-size: 2vw;
}

.content-container > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.curved-heading {
  font-family: "Cooper Black";
  color: white;
  font-size: 4vw;
}
